:root {
  --primary-color: #c72727;
  --secondary-color: #f99500;
  --light-color: #f3f3f3;
  --dark-color: #333;
  --max-width: 1100px;
}

.category {
  --sports-color: #f99500;
  --ent-color: #a66bbe;
  --tech-color: #009cff;
}

/* Global defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background: #efefef;
}

a {
  color: #333;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

ul {
  list-style: none;
}

p {
  margin: 0.5rem 0;
}

img {
  /* by default the image will just stretch beyond their containers */
  width: 100%;
  /* with a width of 100% thatf fit in the container */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Staatliches', cursive;
  margin-bottom: 0.55rem;
  line-height: 1.3;
}

/* Utility */
.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.category {
  display: inline-block;
  color: #fff;
  font-size: 0.55rem;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}

.category-sports {
  background: var(--sports-color);
}
.category-ent {
  background: var(--ent-color);
}
.category-tech {
  background: var(--tech-color);
}

.card a:hover {
  /* display: inline; notice if is inline dont work */
  display: inline-block;
  transform: scale(1.08);
}

.btn {
  display: inline-block;
  border: none;
  /* because remember the buttons have border by default */
  background: var(--dark-color);
  color: #fff;
  padding: 0.5rem 1.5rem;
}

.btn-light {
  background: var(--light-color);
}

.btn-primary {
  background: var(--primary-color);
}

.btn-secondary {
  background: var(--secondary-color);
}

.btn:hover {
  opacity: 0.8;
}

.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}

.card {
  background: #fff;
  padding: 1rem;
}

.bg-dark {
  background: var(--dark-color);
  color: #fff;
}
.bg-primary {
  background: var(--primary-color);
  color: #fff;
}
.bg-secondary {
  background: var(--secondary-color);
  color: #fff;
}

.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark a,
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary a,
.bg-secondary h1,
.bg-secondary h2,
.bg-secondary h3,
.bg-secondary a {
  color: #fff;
}

.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.p-1 {
  padding: 1.5rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}

.l-heading {
  font-size: 3rem;
}

.list li {
  padding: 0.5rem 0;
  border-bottom: #555 dotted 1px;
  width: 90%;
}

.list li a:hover {
  color: var(--primary-color) !important;
}

/* Inner page grid container */
.page-container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  margin: 2rem 0;
  gap: 1.5rem;
}

.page-container > *:first-child {
  grid-row: 1 / span 3;
  /* with we want more than three rows, just add more to the span */
}
/* .page-container > *:nth-child(2) {
  grid-row: 1 / span 1;
} */

/* Navigation Aligment */
#main-nav {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
  /* sticky on top and high ground */
}

#main-nav .container {
  display: grid;
  grid-template-columns: 6fr 3fr 2fr;
  /* display: flex; belongs to flex idea for nav*/
  padding: 1rem;
  /* justify-content: space-between; belongs to flex idea for nav */
  align-items: center;
  /* height: 300px; belongs to flex idea for nav */
}

#main-nav .logo {
  width: 180px;
  /* note that the height is automatically set as well */
}

#main-nav ul {
  justify-self: end;
  display: flex;
}

#main-nav ul li a {
  padding: 0.75rem;
  font-weight: bold;
}

#main-nav ul li a.current {
  /* a.current together because is the same element */
  background: var(--primary-color);
}

#main-nav ul li a:hover {
  background: var(--light-color);
  color: var(--dark-color);
}

#main-nav .social {
  justify-self: center;
  /* padding-left: 200px; belongs to flex idea for nav */
}

#main-nav .social i {
  color: #777;
  margin-right: 0.5rem;
}

/* Showcase */
#showcase {
  color: #fff;
  background: #333;
  /* z-index: -2; z-index idea for the content */
  padding: 2rem;
  position: relative;
  /* position relative because the before pseudo selector is position absolute */
  /* showcase is the first relative container */
  /* otherwise the first relative will be the html  */
}

#showcase:before {
  content: '';
  background: url('../img/featured.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  /* laying on top of the showcase */
  width: 100%;
  height: 100%;
  opacity: 0.4;
  /* z-index: -1; z-index idea for the content */
}

#showcase .showcase-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* display: flex; */
  /* width: 50%; */
  justify-content: center;
  /* horizontally */
  align-items: center;
  /* vertically */
  height: 50vh;
}

#showcase .showcase-content {
  /* we cann se through the text, the image is on top of the text */
  /* z-index what display first */
  /* notice in #showcase and #showcase before that we can set them behind the content as well */
  z-index: 1;
}

#showcase .showcase-content p {
  margin-bottom: 1rem;
}

/* Home Articles */
#home-articles .articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child {
  /* mix flex inside a grid look little weird, a tried*/
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
  /* grid-column-start: 1; */
  /* grid-column-end: 3; */
  grid-column: 1 / span 2;
}

#home-articles .articles-container > *:last-child {
  grid-column: 2 / span 2;
}

#article .meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  padding: 0.5rem;
}

#article .meta .category {
  margin-top: 0.4rem;
}

/* Footer */
#main-footer {
  background: var(--dark-color);
  color: #fff;
}

#main-footer img {
  width: 150px;
}

#main-footer a {
  color: #fff;
}

#main-footer .footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

#main-footer .footer-container > *:last-child {
  background: #444;
  grid-column: 1 / span 4;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.75rem;
}

#main-footer .footer-container input[type='email'] {
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

#main-footer .footer-container input[type='submit'] {
  width: 90%;
}
